.UsersTable {
    padding: 1rem 0;
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        margin-bottom: 1rem;
    }

    th {
        border-bottom: 2px solid #ddd;
    }

    tbody tr:nth-child(2n) {
        background-color: #fafafa;
    }

    td,
    th {
        padding: 1rem .75rem;
        margin: 0;
    }

    .TableAction {
        width: 70px;
    }

    .TableAction button {
        cursor: pointer;
        display: none;
        border: none;
        background-color: transparent;
        color: var(--primary);
    }

    tr:hover .TableAction * {
        display: block;
    }
}
